<div class="leftTabMainClass">
  <div class="container">
    <div class="row justify-content-center">
      <div class="profilePhotoFirstRow">

        <div class="profilePhotoFirst">
          <img src="../../assets/images/Linktera_Ailem_Logo.png" alt="">
        </div>

        <div class="profilePhotoSecond">
          <img src="../../assets/images/img-ar-ge-ve-urun-yonetimi-8305_large.png" alt="">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="leftTabTextDiv">
        <div class="leftTabText">
          <h4><b>Anıl Tangül</b></h4>
          <p style="font-size: 10px !important; align-items: start;">Ürün Yönetimi Direktör</p>
        </div>
      </div>
    </div>

    <div class="row buttonClass" style="margin-top:20px;">

      <div class="row">
        <div class="col-2 mt-3" (click)="funcClick()" data-bs-toggle="collapse" data-bs-target="#collapseLinktera"
          aria-expanded="false" aria-controls="collapseLinktera">
          <img class="okIcon" [ngStyle]="{'transform': 'rotate(' + transofrmStyle + 'deg)'}" style="cursor: pointer;"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 10px;">
          <div class="boxTextButton" (click)="funcClick()" data-bs-toggle="collapse" data-bs-target="#collapseLinktera"
            aria-expanded="false" aria-controls="collapseLinktera">
            &nbsp;&nbsp;Linktera Hakkında
          </div>
        </div>
      </div>

      <div id="collapseLinktera" class="row collapse collapseLinkteraClass">
        <div class="container">
          <div class="col-12">
            <div class="row">
              <img src="../../assets/project/keyboard_arrow_right-1.png" alt=""> <a href="javascript:;"
                style="text-decoration: none; color:  rgb(255, 255, 255,.9);">Linktera Web Sitesi</a>
            </div>
            <div class="row">
              <img src="../../assets/project/keyboard_arrow_right-1.png" alt=""> <a href="javascript:;"
                style="text-decoration: none; color:  rgb(255, 255, 255,.9);">Linkedin Hesabı</a>
            </div>
            <div class="row">
              <img src="../../assets/project/keyboard_arrow_right-1.png" alt=""> <a href="javascript:;"
                style="text-decoration: none; color:  rgb(255, 255, 255,.9);">Youtube Kanalı</a>
            </div>
            <div class="row">
              <img src="../../assets/project/keyboard_arrow_right-1.png" alt=""> <a href="javascript:;"
                style="text-decoration: none; color:  rgb(255, 255, 255,.9);">Oryantasyon Sunumu</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row buttonClass">
      <div class="row">
        <div class="col-2 mt-3">
          <img class="okIcon"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 5px;">
          <div class="boxTextButton">
            &nbsp;&nbsp;Zaman Girişi
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonClass">
      <div class="row">
        <div class="col-2 mt-3">
          <img class="okIcon"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 5px;">
          <div class="boxTextButton">
            &nbsp;&nbsp;İzinlerim
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonClass">
      <div class="row">
        <div class="col-2 mt-3">
          <img class="okIcon"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 5px;">
          <div class="boxTextButton">
            &nbsp;&nbsp;Bilgi Bankası
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonClass">
      <div class="row">
        <div class="col-2 mt-3">
          <img class="okIcon"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 5px;">
          <div class="boxTextButton">
            &nbsp;&nbsp;ArGe Portalı
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonClass">
      <div class="row">
        <div class="col-2 mt-3">
          <img class="okIcon"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 5px;">
          <div class="boxTextButton">
            &nbsp;&nbsp;Mesajlar
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonClass">
      <div class="row">
        <div class="col-2 mt-3">
          <img class="okIcon"
            src="../../assets/project/play_arrow-1.png" alt="">
        </div>
        <div class="col-10" style="margin-top: 5px;">
          <div class="boxTextButton">
            &nbsp;&nbsp;Yardım
          </div>
        </div>
      </div>
    </div>
    <div class="row " style="margin-bottom: 200px;">
      <div class="leftTabTextDiv">
        <div class="leftTabText">
          <div class="row justify-content-center " style="cursor:pointer; padding-top: 10px; align-items:center; justify-content: center; text-align: center;">
            <div >
              <p style="font-size: 15px; float: left;">Çıkış</p>
              <img style="float: left; padding-left: 10px;" class="okIcon" width="35" src="../../assets/project/logout.png" alt="">
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
